.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.App__content {
  padding: 24px;
  width: 100%;
  background-color: whitesmoke;
}

.App__content.card {
  width: 100%;
}

h1 {
  margin: 8px 0;
}